*{
    color:black;
    text-size-adjust: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    border-collapse: collapse;
    width:fit-content;
}

td,th{
    border: 1.5px solid;
    border-style: double;
    text-align:justify;
    padding:6px;
}

img{
    width:200px;
    height:150px;
}
ul{
    list-style-type: circle;
}
form{
    padding:20px;
    border-style:solid;
    margin:0 350px;
    text-align: justify;
}
form h3{
    border-style: dotted;
    text-align: center;
}
.flex-box{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-flow: row;
    margin:30px;
}
.flex-box div{
    border-style: solid;
    text-align: justify
    padding:2em;
}